body {
  background: #f5f7fb;
  font-family: Arial, sans-serif;
  padding: 40px;

  
  display: grid;
  justify-items: center;
}

.calculator {
  width: 500px;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
}
.display {
  background: white;
  height: 70px;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  display: grid;
  align-items: center;
  justify-items: end;
  font-size: 40px;
  padding: 0 20px;
}
.keys {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}
.nyambung {
  grid-column: span 2;
}


@media screen and (max-width: 400px) {

    body {
      padding: 20px;
    }
  
    .calculator {
      width: 100%;
      max-width: 330px;
      row-gap: 15px;
    }
  
    .display {
      height: 60px;
      font-size: 30px;
      padding: 0 15px;
    }
  
    .keys {
      grid-template-columns: repeat(4, 1fr); 
      gap: 8px;
    }
  
    .nyambung {
      grid-column: span 2; 
    }
}

