.nav-bar ul {
  display: flex;
  flex-direction: column;

}
header nav ul li {
  list-style-type: none;
}

.flexbox {
  display: flex;
  border: 2px solid black;
  background-color: lightgray;
  text-align: center;
}

.flexbox div {
  border: 2px solid black;
  flex-basis: 100px;
  flex-shrink: 0;
  &:nth-child(1) {
    flex-grow: 1;
  }
  &:nth-child(2) {
    flex-grow: 2;
  }
  &:nth-child(3) {
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar ul {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .nav-bar ul {
    display: flex;
    flex-direction: column;
  }
}
